{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="container bg-light shadow p-5 form-layout">
        <h3> Create record </h3>
        <h6>Start adding in the required details for your record</h6>
        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.first_name|as_crispy_field}}
            <br>
            {{form.last_name|as_crispy_field}}
            <br>
            {{form.email|as_crispy_field}}
            <br>
            {{form.phone|as_crispy_field}}
            <br>
            {{form.address|as_crispy_field}}
            <br>
            {{form.city|as_crispy_field}}
            <br>
            {{form.province|as_crispy_field}}
            <br>
            {{form.country|as_crispy_field}}
            <br>
            <button type="submit" class="btn btn-primary "> Create record  &nbsp; <i class="fa-solid fa-notes-medical"></i></button>
            &nbsp;
            <a href="{% url 'dashboard' %}" class="btn btn-primary "> <i class="fa-solid fa-arrow-left"> </i> &nbsp; Back  &nbsp; </i></a>
        </form>
    </div>
    <br>
</body>

{% endblock content %}
